{% extends 'site_templates/site_master.html' %}
{% load staticfiles %}

{% block header_block %}
    <title>Login</title>
{% endblock %}

{% block body_block %}
    <h3>Login</h3>
    <form action="{% url 'appauth:login' %}?{{ request.GET.urlencode }}" method="POST">
        {% csrf_token %}
        <input type="text" name="email" placeholder="EMAIL" class="form-control"></input>
        <input type="password" name="password" placeholder="PASSWORD" class="form-control"></input>
        {% if success == False %}
        <br />
        <div class="error-section">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            {{ message }}
        </div>
        <br />
        {% endif %}
        <input type="submit" value="LOGIN" class="btn" />
    </form>
{% endblock %}